.projects__section {
    background: #b92b27;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1565C0, #b92b27);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #b92b27, #1565C0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    box-shadow: inset 0px 0px 5px lavender;
}

.projects__title{
    color: lavender;
    border-bottom: 1px solid white;
    padding: 5rem 2rem 0rem 2rem;
    width: 90%;
    margin: auto;

}

.projects {
    min-width: 350px;
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
