.footer-container {
    background-color: #1c2237;
    padding: 7rem 0 4rem 0;
  }
  
  .footer-contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 24px;
    color: lavender;
  }
  
  .footer-contact > p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
  }
  
  .footer-contact-heading {
    font-size: 24px;
    margin: 2rem

  }
  .footer-contact-heading > span {
    color: #f00946;
    line-height: 16px;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    margin-bottom: 2rem;


  }

  .social-logo {
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    margin: 2rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

  }

  
  /* Social Icons */
  .social-icon-link {
    color: #fff;
    font-size: 5rem;
    padding: 1rem;
  }
  
  
  @media screen and (max-width: 768px) {
    .footer-links {
      padding-top: 2rem;
    }
  
    .footer-link-wrapper {
      flex-direction: row;
    }
  
    .social-media-wrap {
      flex-direction: row;
    }
  }