
.skills_section {
    background: #b92b27;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1565C0, #b92b27);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1565C0, #b92b27); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    box-shadow: inset 0px 0px 5px lavender;
}

.skills {
    min-width: 350px;
    max-width: 1200px;
    margin: auto;
    padding: 5rem 0rem 7rem 0rem; 
}

.skills__container {
    display: flex
}

.skills__title {
    color: lavender; 
    border-bottom: 1px solid lavender;
    margin: 0rem 2rem 0rem 2rem;
}

.skills__title2 {
    color: lavender;
    display: flex;
    justify-content: center;
}

.skills__frontEnd {
    max-width: 600px;
    
}
.skills__backEnd {
    max-width: 600px;

}


.skills__icons {
    padding: 1rem;
    margin: 0rem 1rem 1rem 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    box-shadow: inset 0px 0px 5px lavender;
}

.skill_icon {
    width: 10rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: lavender
}

.skill_icon > img {
    width: 100%;
    height: auto;
}

.skills__icons > img {
    width: 200px;
    height: 200px;
}


@media only screen and (max-width: 768px) {

    .skills__container {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }


}