.footer-container {
    background-color: #1c2237;
    padding: 7rem 0 2rem 0;
  }
  

  .email__links {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 5rem;
      
  }

  .email__icon {
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    font-size: 3rem;
    margin: 0 2rem;
    margin-bottom: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .email__address {
    text-decoration: none;
    color: #fff;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 1rem;

  }




  .footer-contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 24px;
    color: lavender;
  }
  
  .footer-contact > p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
  }
  
  .footer-contact-heading {
    font-size: 2rem;

  }
  .footer-contact-heading > span {
    color: #f00946;
    line-height: 16px;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    margin-bottom: 2rem;


  }

  .social-logo {
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    margin: 2rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 2rem 0;

  }
  
  .footer-item {
      font-size: 2rem;
  }

  
  /* Social Icons */
  .social-icon-link {
    color: #fff;
    font-size: 5rem;
    padding: 1rem;
  }

  .social-icon-link:hover, .email__links:hover span{
    color: #f00946;
    transform: scale(1.06);
    transition: all 0.3s ease-out;
  }

  .social-icons {
      margin: 2rem 0;
  }

  
  @media screen and (max-width: 768px) {
    .footer-links {
      padding-top: 2rem;
    }
  
    .footer-link-wrapper {
      flex-direction: row;
    }
  
    .social-media-wrap {
      flex-direction: row;
    }
    .footer-item {
        font-size: 1.2rem;
    }
    .social-icon-link {
      
        font-size: 2.7rem;
        padding: 0.7rem;
      }

      
  .footer-contact-heading {
    font-size: 1.3rem;
    margin: 2rem

  }
  }

  @media screen and (max-width: 655px) {
    .email__address {
        text-decoration: none;
        color: #fff;
        font-size: 1rem;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        padding-left: none;
    
      }

  }