.aboutMe__hero-section {
    background-color: lavender;
    color: #fff;
    padding: 8rem 0 8rem 0;

  }
  

  .top-line {
    color: #f00946;
    font-size: 16px;
    line-height: 16px;
    font-weight: 700;
    letter-spacing: 1.4px;
    text-transform: uppercase;
  }
  
  .dark {
    color: #1c2237;
  }
  
  .darkBg {
    background-color: #1c2237;
  }

  .aboutMe__hero-subtitle {
    font-size: 18px;
    line-height: 24px;
  }
  
  @media screen and (max-width: 991px) {
    .container {
      padding-right: 30px;
      padding-left: 30px;
    }
  }
  
  @media screen and (max-width: 768px) {

  }