.aboutMe__hero-section {
    background-color: lavender;
    color: #fff;
    padding: 8rem 0 8rem 0;

  }

.aboutMe {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.aboutMe__text {
    width: 55%;
}
    
  .header__img-wrapper {
    max-width: 555px
  }
  
  .header__img {
    width: 25rem;
    height: auto;
    max-width: 95%;
    margin-top: 0;
    margin-right: 0;
    margin-left: 10px;
    padding-right: 0;
  }
  
.header__img-wrapper > img {
    
    border-radius: 50%;
    max-width: 100%;
    vertical-align: middle;
    justify-content: center;
    display: inline-block;
  }
  

  .top-line {
    color: #f00946;
    font-size: 16px;
    line-height: 16px;
    font-weight: 700;
    letter-spacing: 1.4px;
    text-transform: uppercase;
  }
  
  .dark {
    color: #1c2237;
  }
  
  .darkBg {
    background-color: #1c2237;
  }

  .aboutMe__hero-subtitle {
    font-size: 18px;
    line-height: 24px;
  }
  
  @media screen and (max-width: 1012px) {
    .container {
      padding-right: 30px;
      padding-left: 30px;
    }
    .aboutMe {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .header__img-wrapper {
        max-width: 555px
        
      }
    
    .aboutMe__text {
        width: 80%;
        padding-bottom: 3rem;
    }
  }
  
  @media screen and (max-width: 768px) {
    .aboutMe__text {
        width: 100%;
    }
  }