.header__hero-section {
    height: 630px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .header__hero-row {
    display: flex;
    justify-content: center;
  }

  video {
    object-fit: cover;
    width: 100%;
    height: 630px;
    position: fixed;
    z-index: -1;
  }
  
  
  .header__hero-text-wrapper {
    max-width: 50vw;
    padding-top: 0;
    padding-bottom: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .header__top-line {
    color: #f00946;
    font-size: 1rem;
    line-height: 16px;
    font-weight: 700;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    margin-bottom: 16px;
  }
  
  .header__heading {
    margin-bottom: 24px;
    font-size: 3rem;
    line-height: 1.1;
    font-weight: 600;
    color: #f7f8fa;
  }
  
  .dark {
  }
  
  .darkBg {
    background-color: #1c2237;
  }
  


  .header__links {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
  }

  .header__link {
    color: #276afb !important;
    font-size: 1.5rem;
  }

  .header__link:hover {
    color: #f00946 !important;
    transition: all 0.2s ease-out;
  }
  
  @media screen and (max-width: 991px) {
    .container {
      padding-right: 30px;
      padding-left: 30px;
    }
  }
  
  @media screen and (max-width: 768px) {
    .header__hero-text-wrapper {
      padding-bottom: 65px;
    }
  
    .col {
      max-width: 100%;
      flex-basis: 100%;
    }
  }